* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  background: #222831;
  width: 100%;
}
  #hamburger {
      position: fixed;
      top: 41px;
      right: 13px;
      width: 90px;
      height: 80px;
      padding: 5px 10px;
      z-index: 10;
      visibility: hidden;
    }
      .bar {
        width: 40px;
        height: 4px;
        margin: 4px 0;
        background: #e7e7e5;
        border-radius: 4px;
        cursor: pointer;
      }
    #menu {
      position: fixed;
      z-index: 5;
      background: #29303b;

      width: 260px;
      height: 100vh;
      top: 0;
      right: -280px;
      padding-top: 110px;
      padding-left: 23px;
    }
      #menu > a {
        display: block;
        text-decoration: none;
        color: #e7e7e5;
        margin: 23px 0;
        padding: 10px 20px;
        font-size: 1.5em;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
      }
      #menu > a:hover {
        color: #29303b;
        background: #ffd36a;
        transition: background 0.3s ease-in-out;
      }
  main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "nav nav nav nav nav nav nav nav"
      "hdr hdr hdr hdr hdr hdr hdr hdr"
      "abt abt abt abt abt abt abt abt"
      "quo quo quo quo quo quo quo quo"
      "skl skl skl skl skl skl skl skl"
      "pro pro pro pro pro pro pro pro"
      "con con con con con con con con"
      "ftr ftr ftr ftr ftr ftr ftr ftr";
    
  }
  nav {
    display: grid;
    width: 100%;
    background: #222831;
    grid-area: nav;
    grid-template-columns: 30% 70%;
    grid-template-areas: "log lin";
    position: fixed;
    top: 0;
    z-index: 3;
    padding: 50px 100px;
    padding-bottom: 10px;
    align-items: center;
    filter: drop-shadow(0 2px 4px #2228311a);
  }

  nav > div:nth-child(1) {
    grid-area: log;
  }
    nav > div > img {
      width: 50px;
      height: auto;
    }
    nav > div:nth-child(2) {
      grid-area: lin;  
      display: grid;
      grid-auto-flow: column;
      gap: 50px;
      justify-content: right; 
    }
    nav > div > a {
      color: #e7e7e5;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 350;
      position: relative;
    }
    nav > div > a:after {
      position: absolute;  
      display: grid;
      grid-area: lin;
      content: " ";
      height: 2px;
      width: 0;
      background: #ffd36a;
      bottom: -8px;
      border-radius: 3px;
      transition: width 0.3s ease-in-out;
  }
    nav > div > a:hover:after {
      width: 100%;
    }
header {
  grid-area: hdr;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  align-items: center;
  padding: clamp(100px, 10vw, 200px) clamp(20px, 8vw, 150px);
  overflow: hidden;
  gap: 50px;
}
.rotate-img {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  display: grid;
  justify-self: end;
  place-items: center;
  overflow: hidden;
  padding: 50px;
}

.rotating-circle {
  position: absolute;
  inset: 0;
  background: url('../assets/images/header.png') no-repeat center center;
  background-size: cover;
  animation: rotate360 30s linear infinite;
  z-index: 1;
  
}

.static-text {
  position: relative;
  z-index: 2;
  font-size: 1.5em;
  text-align: center;
  animation: fade 2s ease-in-out infinite;
}


@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
.header-content {
  width: 100%;
  min-width: 0;
}
.header-content > p {
  font-size: 1.5em;
  letter-spacing: 5px;
  color: #e7e7e5;
}
.header-content > h1 {
  font-size: min(10vw, 10rem);
  font-weight: 900;
  letter-spacing: 1px;
  color: #ffd36a;
  line-height: 1;
}
#lName {
  color: transparent;
  -webkit-text-stroke: 2px #e7e7e5;
  font-size: 1.3em;
}


.square {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  color: #2228319e;
  /* filter: blur(1px); */
}

#about {
  width: 100%;
  grid-area: abt;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
  padding: 100px 150px;
}

#about img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 12px;
  justify-self: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about-text {
  text-align: justify;
  padding: 0 50px;
}

.about-text h2 {
  font-size: 3em;
  color: #ffd36a;
  font-weight: 600;
  margin-bottom: 50px;
  justify-self: left;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #e7e7e5;
  margin-bottom: 50px;
}

.about-text .click {
  background: transparent;
  color: #ffd36a;
  border: 2px solid #ffd36a;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.about-text .click:hover {
  background: #ffd36a;
  color: #222831;
}
#quote {
  grid-area: quo;
  place-items: center;
  width: 100%;
  height: auto;
  padding: 100px 150px;
}
#quote-text {
  border: 2px solid #e7e7e5;
  border-radius: 15px;
  width: 100%;
  padding: 20px 50px;
  place-items: center;
}
#quote > #quote-text > p {  
  color: #ffd36a;
  font-size: 1.6em;
  letter-spacing: 2px;
  line-height: 2;
}
 #gray {
  color: #e7e7e5;
}
#quote > #quote-text > #sign {
  color: #e7e7e5;
  justify-self: center;
  font-size: 1em;
  
}
#skills {
  padding: 100px 150px;
  text-align: center;
  grid-area: skl;
  gap: 70px;
}

#skills h2 {
  font-size: 3em;
  color: #ffd36a;
  font-weight: 600;
  margin-bottom: 70px;
  justify-self: left;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.skill-item {
  width: 100px;
  height: 100px;
  background: #29303b;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.skill-item img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}

#projects {
  padding: 100px 150px;
  text-align: center;
  width: 100%;
  grid-area: pro;
}

#projects h2 {
  font-size: 3em;
  color: #ffd36a;
  font-weight: 600;
  margin-bottom: 70px;
  justify-self: left;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 60px auto;
  padding: 0 30px;
}

.slider-track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 30px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  background: #29303b;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  border-radius: 12px;
}

.project-card.reverse {
  grid-template-columns: 1fr 1fr;
  direction: rtl;
}

.project-card.reverse .project-info {
  direction: ltr;
}

.project-img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;}

.project-info {
  text-align: left;
}

.project-info h3 {
  font-size: 1.8rem;
  color: #ffd36a;
  margin-bottom: 15px;
}

.project-info p {
  font-size: 1.1rem;
  color: #e7e7e5;
  margin-bottom: 20px;
}

.project-link {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: #ffd36a;
  border: 2px solid #ffd36a;
  padding: 10px 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.project-link:hover {
  background: #ffd36a;
  color: #222831;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4rem;
  font-weight: 600;
  color: #ffd36a;
  border: none;
  cursor: pointer;
  padding: 10px 18px;
  z-index: 2;
  background: transparent;
  transition: 0.3s;
}

.slider-btn:hover {
  background: #222831;
}

.slider-btn.prev {
  left: 10px;
}
.slider-btn.next {
  right: 10px;
}


#contact {
  grid-area: con;
  padding: 100px 150px;
  display: grid;
  grid-template-columns: 3fr 2fr;
}


.contact-info >  h2 {
  font-size: 3rem;
  color: #ffd36a;
  font-weight: 600;
  align-self: start;
  margin-bottom: 50px;
}

.contact-info > p {
  font-size: 1.1rem;
  color: #e7e7e5;
  line-height: 2;
  text-align: justify;
  max-width: 90%;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px 20px;
  border: 3px solid #ffd36a;
  border-radius: 12px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

.contact-form button {
  padding: 15px 20px;
  font-size: 1.1rem;
  background-color: #ffd36a;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #f4c742;
}

footer {
  background: #ffd36a;
  color: #222831;
  width: 100%;
  grid-area: ftr;
  text-align: center;
  align-items: center;
  font-size: 1em;
  padding: 20px 0;
}


/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .contact-info p {
    margin: 0 auto;
  }

  .contact-form {
    width: 100%;
  }
}



@media (max-width: 950px) {

  #hamburger {
    visibility: visible;
  }
  nav > div > a {
    visibility: hidden;
  }
  header {
    grid-template-columns: 1fr;
    padding: 100px 30px;
    gap: 30px;
    text-align: center;
  }

  .rotate-img {
    justify-self: center;
  }

  .header-content > h1 {
    font-size: 5rem;
  }

  .header-content > p {
    font-size: 1.2rem;
  }

 #about {
    grid-template-columns: 1fr;
    padding: 60px 30px;
    text-align: center;
  }

  #about img {
    width: 60%;
    justify-self: center;
  }

  .about-text {
    padding: 0;
  }

  .about-text h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
  }

  /* .about-text p {
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 30px;
  } */

  .about-text .click {
    margin: 0 auto;
    display: inline-block;
  }  #quote {
    padding: 25px;
  }
  #skills {
    padding: 25px;
  }
  #project {
    padding: 5px;
  }
  .slider-wrapper {
    padding: 0;
    width: 100%;
  }
  #contact {
    grid-template-columns: 1fr;
    padding: 25px;
    gap: 50px;
  }

  .slider-track {
    grid-auto-columns: 100%;
  }

  .project-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .project-info {
    text-align: center;
  }

  .rotate-img {
    justify-self: center;
  }

  .header-content > h1 {
    font-size: 5rem;
  }
}
